<div class="container d-flex justify-content-between tamanho">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/chuteiraPuma.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chuteira Puma Future Z4.3</h5>
          <p class="card-text">Chuteira Puma Neymar Jr Campo, Puma Future Z4.3 Adulto Branco+Azul</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../assets/chuteiraZ1.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Chuteira Puma Future Z1.1</h5>
          <p class="card-text">Chuteira Puma Neymar Jr Campo, Puma Future Z1.1 Adulto Branco+Vermelho</p>
          <a href="#" class="btn btn-primary container-fluid">Comprar</a>
        </div>
      </div>
</div>
